@import '../bourbon/bourbon';
@import 'resets.css';

$center: 0 auto;

body {
  background: url('../images/map-background.jpg') top left no-repeat #3E4347;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  h2 {
    font-size: 27px;
    color: #212121;
    font-weight: 600;
  }
  p {
    &.intro {
      font-size: 22px;
      color: #878787;
      line-height: 28px;
      font-weight: 100;
      padding-top: 30px;
      @include size (336 auto);
    }
  }
}
.top-site {
  @include size (1100 auto);
  margin: $center;
  .logo {
    @include size (140 auto);
    margin: $center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.container {
  @extend .top-site;
  background: #fff;
  .introduction {
    background: url('../images/intro-background.png') no-repeat bottom right;
    min-height: 462px;
  }
}