@import '../bourbon/bourbon';
@import 'resets.css';

$center: 0 auto;

body {
  background: url('../images/map-background.jpg') top left no-repeat #3E4347;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  h2 {
    font-size: 27px;
    color: #212121;
    font-weight: 600;
    &.intro {
      margin-top: 80px;
    }
  }
  p {
    &.intro {
      font-size: 22px;
      color: #878787;
      line-height: 40px;
      font-weight: 100;
      padding-top: 30px;
      @include size (336 auto);
    }
  }
}
.top-site {
  @include size (1100 auto);
  margin: $center;
  .logo {
    @include size (140 auto);
    margin: $center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.container {
  @extend .top-site;
  background: #fff;
  .hero {
    background: url('../images/hero-background.jpg') no-repeat top left;
    background-size: cover;
    height: 591px;
  }
  .introduction {
    background: url('../images/intro-background.png') no-repeat bottom right;
    min-height: 501px;
    padding-top: 60px;
    padding-left: 60px;
    .download {
      background: #3E4347;
      display:block;
      padding: 10px 20px;
      max-width: 230px;
      margin-top: 55px;
      border-radius: 5px;
      &:hover {
        background: #2A2D30;
      }
    }
  }
  .maps {
    background: url('../images/maps-image.png') no-repeat bottom left #F7F5F1;
    border-top: 1px solid #ECEAE6;
    min-height: 612px;
    .maps-heading {
      width: 333px;
      text-align: right;
      float: right;
      display: inline;
      margin-right: 60px;
    }
  }
}